/* hide the main content while we assemble everything */
.md-hidden-load {
    display: none;
}

#md-all {
    margin: 0 0 2% 8%;
    padding: 0;
    width: 70%;
    height: 100%;
    font-family: "Simsun";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
    color: #3F5977;
}

code.md {
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: #B44343;
    background-color: #EEEEEE;
}

hr.md {
    height:1px;
    margin-bottom: 16px;
    border:none;
    border-top:1px solid #3D7E9A;
}

h1.md, h2.md, h3.md,
h4.md, h5.md, h6.md {
    color: #3D7E9A;
}
h1.md {
    font-size: 28px;
}
h2.md {
    font-size: 26px;
}
h3.md {
    font-size: 24px;
}
h4.md {
    font-size: 22px;
}
h5.md {
    font-size: 20px;
}
h6.md {
    font-size: 18px;
}

p.md {
  text-indent: 32px;
}

.md.lheading {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    color: #FFF;
    padding-left: 0px;
    padding-right: 4px;
    background-color: #3D7E9A;
}

.md.strong {
    font-weight: bold;
}

.md.italic {
    font-style: italic;
}

blockquote.md {
    page-break-inside: avoid;
    padding:10px 20px;
    margin:0 0 20px;
    border-left:5px solid #3D7E9A;
    color: #7BBCDC;
}

pre.md {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    color: #5C5964;
}

/* table style */
table.md {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;
    border-collapse: collapse;
}

table.md thead th {
    background-color: #E9EEF1;
    color: #4F8AA4;
    border-bottom-width: 0;
}

table.md td, table.md th {
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E9EEF1;
}

table.md tr:nth-child(even) {
    background: #F9FAFB;
}

table.md tr:nth-child(odd) {
    background: #FFF;
}
/* table style end */

span.md.olli {
    padding-right: 8px;
    font-weight: bolder;
    font-size: 18px;
    color: #3D7E9A;
}

ul.md.ollist{
    list-style: none;
    list-style-type: none;
    padding-left: 24px;
    margin-left: 0px;
}

a:link {
    text-decoration: none;
    color: rgb(58, 119, 233);
}

a:active {
    text-decoration: blink;
}

a:hover {
    text-decoration: underline;
    color: rgb(130, 185, 236);
} 

a:visited {
    text-decoration: none;
    color: rgb(58, 119, 233);
}

aside#toc, aside#toc ul, h3{
    margin: 0px;
    padding: 0px;
}

aside#toc li {
    list-style-type: none;
}

aside#toc {
    font-size: 12px;
    color: #333; 
    font-family: Simsun;
    line-height: 15px;
}

aside#toc a {
    text-decoration:none;
    color: #004285;
    border: none;
}

aside#toc a:hover {
    text-decoration: none;
    color: #C33;
}

aside#toc {
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    margin: 50px auto; 
    padding: 10px; 
    border:#EEE 1px solid;
    font-family: Simsun;
    line-height: 15px;
}

aside#toc ul { 
    background: url("images/ul-bg.gif") repeat-y 5px 0px;
    overflow: hidden;
}

aside#toc li {
    padding: 5px 0 2px 15px; 
    background: url("images/tree-ul-li.gif") no-repeat 5px -32px; 
}

aside#toc ul li ul {
    display: none;
}

aside#toc em {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    float:left;
    height: 15px;
    margin-left: -14px;
    background: url("images/tree-ul-li.gif") no-repeat -32px 2px;
}

aside#toc li em.unfold {
    background-position: -17px -18px;
}

aside#toc li.tocend {
    background-color:#FFF;
}

aside#toc ul.unfold { 
    display: block;
}
