

aside#toc {
    font-size: 12px;
    color: #333; 
    font-family: Simsun;
    line-height: 12px;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    margin: 25px auto; 
    padding: 10px; 
    border:#EEE 1px solid;
}

aside#toc ul, p#toctitle {
    margin: 0px;
    padding: 0px;
}

aside#toc a {
    text-decoration:none;
    color:#004285;
    border:none;
}

aside#toc a:hover {
    text-decoration:none;
    color:#C33;
}

aside#toc ul { 
    background:url("images/ul-bg.gif") repeat-y 5px 0px;
    overflow:hidden;
}

aside#toc li {
    list-style-type:none;
    padding:5px 0 2px 15px; 
    background:url("images/tree-ul-li.gif") no-repeat 5px -32px; 
}

aside#toc ul li ul {
    display:none;
}

aside#toc em {
    cursor:pointer;
    display:inline-block;
    width:15px;
    float:left;
    height:15px;
    margin-left:-14px;
    background:url("images/tree-ul-li.gif") no-repeat -32px 2px;
}

aside#toc li em.unfold {
    background-position: -17px -18px;
}

aside#toc li.tocend {
    background-color:#FFF;
}

aside#toc ul.unfold { 
    display: block;
}

p#toctitle {
    color:#004285;
    font-weight: bolder;
}
